go 1.25.0

use (
	packages/auth
	packages/config
	packages/database
	packages/events
	packages/logger
	packages/telemetry
	packages/types
	packages/utils
	packages/validators
	services/advertising-service
	services/analytics-service
	services/chat-service
	services/commerce-service
	services/community-service
	services/competition-service
	services/creator-service
	services/discovery-service
	services/event-service
	services/gift-service
	services/identity-service
	services/licensing-service
	services/media-service
	services/messaging-service
	services/moderation-service
	services/notification-service
	services/payment-service
	services/recommendation-service
	services/search-service
	services/stream-service
	services/subscription-service
	services/translation-service
	services/trust-service
	services/viewer-service
	services/wallet-service
)
